* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  
  .logos2{
    background-color: #f2f2f2;
  }
  .logos-slidee img{
    height: 100px;
    width: 400px;
    padding: 0;
  }
  .logos2 {
    overflow: hidden;
    padding: 60px 0;
  
    white-space: nowrap;
    position: relative;
  }
  
  .logos2:before,
  .logos2:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos2:before {
    left: 0;
  
  }
  
  .logos2:after {
    right: 0;
  
  }
  
  .logos2:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slidee {
    display: inline-block;
    animation: 95s slide infinite linear;
  }
  
  .logos-slidee img {
    height: 450px;
    margin: 0 40px;
  }