/* NFT Card Styles */
.nft-card {
  background: linear-gradient(to bottom right, #fff, #f0f0f0);
  color: #333;
  border: 2px solid #000;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.responsive-button {
  background-color: #3a3a3a; /* Gray background */
  color: black; /* Black text */
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.responsive-button:hover {
  background-color: #505050; /* Darker gray on hover */
  transform: scale(1.05);
}

.responsive-button:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .responsive-button {
    font-size: 14px;
    padding: 12px 20px;
  }
}

@media (max-width: 480px) {
  .responsive-button {
    font-size: 12px;
    padding: 10px 15px;
  }
}
.nft-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Animation Styles */
.animate-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft 1s forwards;
}

.animate-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight 1s forwards;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Container Animation */
.start-animation .animate-left,
.start-animation .animate-right {
  animation-delay: 0.2s;
}
